<div class="container py-3">
    <div class="row shadow py-5">
      <div class="col-12">
        <div class="row" *ngIf="post">
          <div class="card col-10 mx-auto shadow-sm my-1">
            <div class="card-body">
              <h5 class="card-title"> {{post.title}} </h5>
              <p class="card-text"> {{post.body}} </p>
            </div>
          </div>
          <div class="col-10 mx-auto text-center p-0 m-0 my-4">
            <h4 class="">Author info:</h4>
          </div>
          <div class="card col-10 mx-auto shadow-sm my-1">
            <div class="card-body">
              <p *ngIf="author" class="card-text"> <b>Name: </b> {{author.name}} </p>
              <p *ngIf="author" class="card-text"> <b>Email: </b>{{author.email}} </p>
              <p *ngIf="author" class="card-text"> <b>User name: </b>{{author.username}} </p>
              <p *ngIf="author" class="card-text"> <b>City: </b>{{author.address.city}} </p>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto text-center p-0 m-0 my-4">
          <h4 class="">Comments:</h4>
        </div>
        <div *ngFor="let comment of comments" class="card bg-light py-1 col-10 mx-auto my-1">
          <div class="card-body">
            <h6 class="comment-text p-0 m-0"><b>Name: </b>{{comment.name}} </h6>
            <p class="comment-text p-0 m-0"><b>Email: </b>{{comment.email}} </p>
            <p class="comment-text p-0 m-0"><b>Comment: </b>{{comment.body}} </p>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button [routerLink]="['/']" class="btn px-5">Back</button>
        </div>
      </div>
    </div>
  </div>
