<div class="container py-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto bg-light p-5 border message-table">
      <div class="row" *ngIf="(messages$ | async) as messages">
        <div class="col-md-8 col-12 card shadow-sm m-1" *ngFor="let message of messages">
          <div class="card-body">
            <div class="card-title">
              <h5>{{message.user}}</h5>
            </div>
            <div class="card-text">
              {{message.body}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mx-auto my-5 p-2">
      <form (ngSubmit)="addMessage(messageForm)" #messageForm="ngForm">
        <div class="form-group">
          <label for="user">Your nickname:</label>
          <input ngModel type="text" name="user" id="user" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="body">Your message:</label>
          <textarea ngModel rows="6" type="text" name="body" id="body" class="form-control" required></textarea>
          <small *ngIf="messageForm.invalid" class="text-danger">All fields are required!</small>
        </div>
        <div class="col-12 text-center">
          <button type="submit" [disabled]="messageForm.invalid" class="btn mx-auto px-5 text-white">Send!</button>
        </div>
      </form>
    </div>
  </div>
</div>
